{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">{{ user.first_name }}</span>
      <span class="last-name">{{ user.last_name }}</span>
    </div>

    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">
        {% if user.email %}{{ user.email }}{% else %}Not Set{% endif %}
      </span>

      <span class="separator"></span>

      <span class="phone">Phone: </span>
      <span class="phone-val">{{ user.profile.phone }}</span>
    </div>

    <div class="about">
      <span class="position">{{ user.profile.job_title }}</span>

      <span class="desc">
        I am a front-end developer with more than 3 years of experience writing
        html, css, and js. I'm motivated, result-focused and seeking a
        successful team-oriented company with opportunity to grow.
      </span>
    </div>
  </div>

  <div class="details">
    {% if user.experience_set.exists %}

    <div class="section">
      <div class="section__title">Experience</div>

      {% for ex in user.experience_set.all %}

      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">{{ ex.title }}</div>

            <div class="addr">{{ ex.location }}</div>

            <div class="duration">{{ ex.date_range }}</div>
          </div>

          <div class="right">
            <div class="name">{{ ex.position }}</div>

            <div class="desc">{{ ex.job_description }}</div>
          </div>
        </div>
      </div>

      <br />
      <br />

      {% endfor %}
    </div>

    {% endif %}

    <div class="section">
      <div class="section__title">Education</div>

      <div class="section__list">
        {% for edu in user.education_set.all %}

        <div class="section__list-item">
          <div class="left">
            <div class="name">{{ edu.university }}</div>

            <div class="addr">{{ edu.location }}</div>

            <div class="duration">{{ edu.date_range }}</div>
          </div>

          <div class="right">
            <div class="name">{{ edu.pretified_degree }}</div>

            <div class="desc">{{ edu.study_description }}</div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>

    {% if user.project_set.exists %}
    <div class="section">
      <div class="section__title">Projects</div>

      <div class="section__list">
        {% for project in user.project_set.all %}
        <div class="section__list-item">
          <div class="name">{{ project.title }}</div>
          <div class="text">{{ project.description }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if user.skill_set.exists %}
    <div class="section">
      <div class="section__title">Skills</div>

      <div class="skills">
        {% for skill in user.skill_set.all %}
        <div class="skills__item">
          <div class="left">
            <div class="name">{{ skill.title }}</div>
          </div>

          <div class="right">
            <input id="ck1" type="checkbox" {% if skill.level >= 1 %}checked{% endif %} />
            <label for="ck1"></label>

            <input id="ck2" type="checkbox" {% if skill.level >= 2 %}checked{% endif %} />
            <label for="ck2"></label>

            <input id="ck3" type="checkbox" {% if skill.level >= 3 %}checked{% endif %} />
            <label for="ck3"></label>

            <input id="ck4" type="checkbox" {% if skill.level >= 4 %}checked{% endif %} />
            <label for="ck4"></label>

            <input id="ck5" type="checkbox" {% if skill.level == 5 %}checked{% endif %} />
            <label for="ck5"></label>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="section">
      {% if user.profile.intrests %}

      <div class="section__title">Interests</div>

      <div class="section__list">
        <div class="section__list-item">{{ user.profile.intrests }}</div>
      </div>

      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}